* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
:root{
 
  --black-color: #000;
  --text-color: rgb(185, 183, 183);
  --white-color: #fff;
  --purple-color: #ba71da;
  --red-color: #f76570;
  --blue-color: #14b9d5;
  --green-color: #1bbc9b;
  --yellow-color: #ffd105;
  --orange-color: #f3a46b;
  --dark-orange-color: #e27557;
}
 